<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <Appenders>

        <Console name="consoleAppender">
            <PatternLayout>
                <pattern>[%d %p %c{1}] %m%n</pattern>
            </PatternLayout>
        </Console>

    </Appenders>
    <Loggers>

        <Root level="all">
            <appender-ref ref="consoleAppender"/>
        </Root>

    </Loggers>
</Configuration>